<h2>Add users</h2>
<users-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></users-form>

<h2>
  List of users
</h2>
<ul class = "list-group">
 <li class = "list-group-item" *ngFor = "let key of usersKeys" >
   {{key+': '+users[key].username}}{{'  email:  '+users[key].email}}
    <div style='float:right;'>
        <button class = "btn btn-outline-primary"  (click)="deleteUser(key)">Delete</button>
        <button class = "btn btn-outline-primary"  [routerLink]="['/update-users',key]">Update</button>
    </div>   

</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul> 