<form [formGroup] = "loginform" (ngSubmit) = "login()"> <!--  השליטה של הטופס היא ע"י האלמנט הזה+מילה שמורה בתוך סוגריים מרובעים!-->
  <div>
    <label for="user"></label>
    <input type="text" name= "user" id= "user" class="form-control" formControlName = "user" placeholder="Please enter username" > <!-- המקבילה בקוד של ה  היא msgform!-->
  
  </div>
  
  <div>
    <label for="password"></label>
    <input type="text" name= "password" id= "password" class="form-control" formControlName = "password" placeholder="Please enter password"> <!-- המקבילה בקוד של ה  היא msgform!-->
  
  </div>
  
  <div *ngIf = "invalid" class="alert alert-danger">
    Invalid username ar password
  </div>
  
  <input type="submit" value= "login" class= "btn btn-primary">
  
  
  </form>
  <div> 
    <button  class= "btn btn-secondary" (click)= "logout()">Logaout</button>
  </div>