<button id="swtchButton" class = "btn btn-danger"  [routerLink]="['/messagesfirebase']">Firebase Messages</button>


<h2>Please add a Message</h2>
<messagesForm (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></messagesForm>

<h2>
  List of messages
</h2>

<ul class = "list-group">

  <li class = "list-group-item" *ngFor = "let key of messagesKeys" >
<!--{{'message number '+key+' :'+messages[key].body}}-->

<div style='float:right;'>
<button class = "btn btn-outline-primary"  (click)="deleteMessage(key)">Delete</button>
<button class = "btn btn-outline-primary"  [routerLink]="['/message-form',key]">Update</button>
</div>
<div>
<a [routerLink] = "['/message', key]">{{'message number '+key+' '+messages[key].body}}</a>
</div>
</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul>

