
<form [formGroup] = "usrform" (ngSubmit) = "sendData()" > <!--  השליטה של הטופס היא ע"י האלמנט הזה+מילה שמורה בתוך סוגריים מרובעים!-->
  <div>
    <label for="name"></label>
    <input type="text" name= "name" id= "name" class="form-control" formControlName = "name" placeholder="Please enter new user name"  required  > <!-- המקבילה בקוד של ה  היא msgform!-->
    
  <div *ngIf="usrform.controls.name.invalid && usrform.controls.name.touched" class="validationError">
    Please enter users name
  </div>
  </div>
  

  <div>
    <label for="email"></label>
    <input type="email" name= "email" id= "email" class="form-control" formControlName = "email" placeholder="Please enter your email "required > 
    <div *ngIf="usrform.controls.email.invalid && usrform.controls.email.touched" class="validationError">
        Please enter valid email
      </div>
      
  </div>

  <input type="submit" value= "create new user" class= "btn btn-success" [disabled]="usrform.invalid">
  
  
  </form>