<nav class="nav-bar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active current" [routerLinkActiveOptions]= {exact:true}> <a routerLink = "">Messages</a></li> <!-- מונע ריפרש של הדף ומבצע רק את הריפרש של הקומפוננטס-->
        <li routerLinkActive = "active current"><a routerLink="/users">Users</a></li>
        <li routerLinkActive = "active current"><a routerLink="/messagesfirebase">Messages FireBase</a></li>
        <li routerLinkActive = "active current"><a routerLink="/login">Login</a></li>
        

      
        
  
      </ul>
    </div>
  </div>
  </nav>